{% extends 'users_app/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="container p-3">
            <form action='{% url "users:signin" %}' method='POST' class="col-6 offset-3" novalidate>
                <h2>Sign In</h2>
                {% csrf_token %}
                {% for field in log_form %}
                <div class="form-floating mb-3 {% if field.errors %}is-invalid{% endif %}">
                    {{field}}
                    {{field.label_tag}}
                </div>
                <div class="invalid-feedback">
                    {{field.errors}}
                </div>
                {% endfor %}
                <input type="submit" value="Sign In" class="btn btn-lg btn-primary col-12">
            </form>
        </div>
    </div>
</div>
{% endblock %}