<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" style="pointer-events:none;" class="navbar-brand">Users App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'users:index' %}" class="nav-link">Home</a>
                    </li>
                    {% if messages %}
                        {% for message in messages %}
                            <li class="nav-item">
                                <a class="text-success nav-link">{{message}}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if user %}
                    <li class="nav-item">
                        <a href="{% url 'users:user_page' %}" class="nav-link">User Info</a>
                    </li>
                    {% endif %}
                </ul>
                {% if 'userid' in request.session %}
                <a href="{% url 'users:logout' %}" class=" nav-item text-end btn btn-warning text-white">Log Out</a>
                {% else %}
                <a href="{% url 'users:signin' %}" class=" nav-item text-end btn btn-secondary text-white">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>